<div class="demo-page">

<%= render 'header' %> 

<main class="demo-page-content">
  <section>
    <div class="href-target" id="intro"></div>
      <h1 class="package-name">Лаборатория эпидемиологии</h1>
      <h2>НИИ Системной Биологии и Медицины Роспотребнадзора</h2>
    <br>
      <strong>Лабораторией проводятся следующие исследования:</strong>
    <ul>
      <li>Динамика протеома плазмы крови при психологическом типировании условно здоровых людей</li>
      <li>Динамика молекулярного профиля при критических состояниях (“Хроника объявленной смерти”)</li>
      <li>Исследование групповой, индивидуальной и совместной вариабельности протеома у крыс генетически различных линий (“Единство”).</li>
    </ul>
    <br>
    <p>
      Лаборатория сотрудничает с ФГАУ «НМИЦ ЛРЦ» Минздрава России, Институтом психологии Российской академии наук, лабораториями НИИ СБМ Роспотребнадзора.
    </p>
  </section>
</main>
</div>
